Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
! DPI is set in multiples of 96, 96*2.5=240
Xft.dpi:       240

xterm*faceName: xft:DejaVu Sans Mono
xterm*faceSize1: 5
xterm*faceSize2: 6
xterm*faceSize3: 7
! default
xterm*faceSize: 8
xterm*faceSize4: 8
xterm*faceSize5: 10
xterm*faceSize6: 12

xterm*termName: xterm-256color
xterm*ScrollBar: false
xterm*rightScrollBar: false
xterm*internalBorder: 16

xterm*saveLines: 10000

xterm*selectToClipboard: true
xterm*VT100.Translations: #override \
                 Ctrl <Key>+:          larger-vt-font() \n\
                 Ctrl <Key>-:          smaller-vt-font()

! Also want `xset b off` in ~/.bashrc
xterm*visualBell: false

*.background: #1c1b1a

! special
*.foreground: #ffffff
*.foreground_bold: #ffffff
*.cursorColor: #ffffff

! black
*.color0: #303030
*.color8: #5f5f5f

! ! red
*.color1: #c03000
*.color9: #ff0000

! ! green
*.color2: #b1d631
*.color10: #a6cd07

! ! yellow
*.color3: #fecf35
*.color11: #b5c865

! blue
*.color4: #426870
*.color12: #4a7781

! magenta
*.color5: #6d506d
*.color13: #ff0000

! cyan
*.color6: #4bb5c1
*.color14: #4bb5c1

! white
*.color7: #e2e2e5
*.color15: #e2e2e5

